* {
  font-family: "Raleway", Arial, Helvetica, sans-serif; }

body {
  margin: 0; }

.main-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 13px;
  font-size: 15px;
  font-weight: normal;
  width: 230px; }

.close-button {
  position: absolute;
  top: 33px;
  right: 13px;
  border: none;
  background-color: transparent;
  width: 25px;
  padding: 0; }
  .close-button svg {
    font-size: 20px; }

.container {
  display: flex;
  justify-content: center; }
  .container .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .container .overlay-side-bar {
    z-index: 2; }
  .container .overlay-subscribe {
    z-index: 4; }

.side-bar {
  border-left: 1px solid lightgray;
  background-color: #f1f1f1;
  position: sticky;
  height: 100vh;
  transition: all 0.5s ease; }
  .side-bar .close-side-bar {
    opacity: 0; }
  .side-bar .side-bar__top {
    padding: 20px; }
    .side-bar .side-bar__top h3 {
      font-size: 24px;
      font-weight: normal;
      margin: 10px 0; }
    .side-bar .side-bar__top h6 {
      font-size: 16px;
      font-weight: normal;
      margin: 10px 0; }
    .side-bar .side-bar__top form {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 14px;
      margin: 50px 0 25px 0; }
      .side-bar .side-bar__top form input {
        border: 1px solid #ccc;
        padding: 8px;
        height: 40px;
        font-size: 15px; }
  .side-bar .side-bar__links {
    display: grid;
    grid-template-columns: 100%; }
    .side-bar .side-bar__links a,
    .side-bar .side-bar__links a:hover,
    .side-bar .side-bar__links a:focus,
    .side-bar .side-bar__links a:active,
    .side-bar .side-bar__links button {
      padding: 18px;
      text-decoration: none;
      color: inherit; }
    .side-bar .side-bar__links a:hover,
    .side-bar .side-bar__links button:hover {
      background-color: rgba(134, 136, 136, 0.18); }
    .side-bar .side-bar__links button {
      border: none;
      background-color: transparent;
      text-align: start;
      font-size: 16px; }
    .side-bar .side-bar__links svg {
      width: 20px; }
  @media (max-width: 1050px) {
    .side-bar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      transform: translateX(-270px); }
      .side-bar .close-side-bar {
        opacity: 1; } }

.main-page {
  width: 100%;
  max-width: 718px;
  padding: 0 20px;
  border-right: 1px solid lightgray; }
  .main-page nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 20px;
    color: white;
    height: 55px;
    font-size: 25px;
    margin-bottom: 50px; }
    .main-page nav p {
      margin: 0; }
    .main-page nav button {
      background-color: transparent;
      border: none;
      padding: 0; }
      .main-page nav button svg {
        color: white;
        font-size: 23px; }
  .main-page .main-page__title {
    color: #4caf50;
    font-weight: 400;
    margin: 10px 0; }
  .main-page .line-div {
    width: 100%;
    border: 0.5px solid lightgray;
    margin: 20px 0; }
  .main-page .list-container .list__title {
    font-weight: normal; }
  .main-page .list-container .list {
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 300px));
    justify-content: space-between; }
    .main-page .list-container .list p {
      font-size: 18px; }
      .main-page .list-container .list p svg {
        width: 25px; }
  .main-page .info .info__title {
    font-weight: normal; }
  .main-page .info .info__text {
    line-height: 1.5; }
  .main-page .rules .rules__title {
    font-weight: normal; }
  .main-page .rules .rules__text {
    line-height: 1.5; }
  .main-page .contact .contact__title {
    font-size: 30px;
    font-weight: normal; }
  .main-page .contact .contact__list {
    list-style: none;
    padding: 0; }
    .main-page .contact .contact__list li {
      margin: 5px 0; }
      .main-page .contact .contact__list li svg {
        width: 20px;
        margin-right: 13px;
        font-size: 13px; }
  .main-page .contact form {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 14px; }
    .main-page .contact form input {
      border: 1px solid #ccc;
      padding: 8px;
      height: 40px;
      font-size: 15px; }
  @media (max-width: 1050px) {
    .main-page {
      max-width: 100%; }
      .main-page nav {
        display: flex; } }
